<nav class="navbar">
  <div>
    
  </div>
</nav>

<div class="container">
  <h1 class="mt-4">Bienvenido, Marlon Torino</h1>
  <style>
    .weather-card {
        width: 220px;
        background: linear-gradient(to bottom right, #50a3f3, #78e5e5);
        color: black;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .weather-card h2 {
        margin: 0;
        font-size: 16px;
    }

    .weather-icon {
        font-size: 40px;
        margin: 10px 0;
    }

    .temperature {
        font-size: 30px;
        font-weight: bold;
    }

    .details {
        font-size: 14px;
    }

    .price {
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price img {
        width: 16px;
        margin-right: 5px;
    }
</style>
<body>

<div class="weather-card">
    <h2>Madrid, España</h2>
    <div class="weather-icon">⛅</div>
    <div class="temperature">-2°C</div>
    <div class="details">Chubasco<br>25°/19°<br>Sensación térmica 25°</div>
    <div class="price">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25657.png" alt="Euro Icon">
        10.000.000 EUR
    </div>
</div>

</body>
<div
  class="row mt-4 justify-content-center">
  <app-info-viaje></app-info-viaje>
</div>
</div>
